{% extends "review/base.html" %}
{% block content %}
    {% for post in posts %}
    <div class="review-container">
        <div class="post-header">
            <h2>{{ post.companykey }}</h2>
            <span class="caption">published: {{ post.published_date }}</span>
            <hr>
        </div>
        <div class="review-content">
            <h3><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h3>
            <p>{{ post.review|linebreaksbr }}</p>
            <button>Like</button><span id="counter">0</span>
        </div>
    </div>    
    {% endfor %}

{% endblock %}
{% block scripts %}    <script src="/static/review/js/review.js"></script>{% endblock %}