<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <!-- Latest compiled and minified CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    
    <link rel="stylesheet" type="text/css" href="{% static 'review/css/style.css' %}" />
    {% block extra_head %}{% endblock %}
</head>
<body>
    <nav class="container">
        <div class="row">
            <div class="col-md-2 logo">
                <h4>B2B MetaReview</h4>
            </div>
            <div class="col-md-10">
                <ul class="nav-ul-item">
                    <li class="nav-list-item"><a href="/review/company_review">Company Reviews |</a></li>
                    <li class="nav-list-item"><a href="{% url 'api' %}">API |</a></li>
                    {% if user.is_authenticated %}
                        <li class="nav-list-item"><a href="{% url 'new_company_review' %}">Write a Review |</a></li>
                        <li class="nav-list-item">Hello {{ user.username }} | <a href="{% url 'logout' %}">Log Out</a></li>
                        
                    {% else %}
                        <li class="nav-list-item"><a href="/review/registration">Register |</a></li>
                        <li class="nav-list-item"><a href="{% url 'login' %}">Log In |</a></li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>
    <div>
    {% block content %}

    {% endblock %}
    {% block scripts %}{% endblock %}
    </div>

</body>

</html>