{% extends "review/index.html" %}
{% load staticfiles %}

<!--
{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'review/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
{% endblock %}
-->

{% block content %}
<div class="container" id="reg-page-container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-8 container">
            <div class="row registration-container z-depth-2">
                <h2 class="registration-header">Post a review:</h2>
                <p>Post a review and receive unlimited access to all of our content for 12 months, once we launch!</p>
                <div class="row">
                    <div class="col-md-9">
                        <form action="" method="POST">
                            {% csrf_token %}
                            Company Name:<br>
                            {{ form.companykey }}<br><br>
                            <!--
                            <label>Rate</label><br>
                            <div class="container">
                                <ul class="rate-area">
                                  <input type="radio" id="5-star" name="rating" value="5" /><label for="5-star" title="Amazing">5 stars</label>
                                  <input type="radio" id="4-star" name="rating" value="4" /><label for="4-star" title="Good">4 stars</label>
                                  <input type="radio" id="3-star" name="rating" value="3" /><label for="3-star" title="Average">3 stars</label>
                                  <input type="radio" id="2-star" name="rating" value="2" /><label for="2-star" title="Not Good">2 stars</label>
                                  <input type="radio" id="1-star" name="rating" value="1" /><label for="1-star" title="Bad">1 star</label>
                                </ul>
                            </div>
                            -->

                            Review Title:<br>
                            {{ form.title }}<br><br>
                            Review:<br>
                            {{ form.review }}<br>
                            <!--
                            <label>Company Name</label><br>
                            <input type="text" size="80"><br>
                            <br>
                            <label>Review</label><br>
                            <textarea rows="10" cols="80"></textarea><br>
                            -->
                            <input type="submit" value="Submit"><br><br>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2" id="ad" name="Ad">Advertisement</div>
    </div>
</div>

{% endblock %}
