{% extends "review/index.html" %}
{% load staticfiles %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'review/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
<div class="container" id="reg-page-container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-8 container">
            <div class="row registration-container z-depth-2">
                <h2 class="registration-header">Post a review:</h2>
                <p>Post a review and receive unlimited access to all of our content for 12 months, once we launch!</p>
                <div class="row">
                    <div class="col-md-9">
                                                <label>Rate</label><br>

                            <div class="stars">
                                <form action="">
                                    <input class="star star-5" id="star-5" type="radio" name="star"/>
                                    <label class="star star-5" for="star-5"></label>
                                    <input class="star star-4" id="star-4" type="radio" name="star"/>
                                    <label class="star star-4" for="star-4"></label>
                                    <input class="star star-3" id="star-3" type="radio" name="star"/>
                                    <label class="star star-3" for="star-3"></label>
                                    <input class="star star-2" id="star-2" type="radio" name="star"/>
                                    <label class="star star-2" for="star-2"></label>
                                    <input class="star star-1" id="star-1" type="radio" name="star"/>
                                    <label class="star star-1" for="star-1"></label>
                                </form>
                            </div>
                        <form action="">
                            <label>Company Name</label><br>
                            <input type="text" size="80"><br>
                            <br>
                            <label>Review</label><br>
                            <textarea rows="10" cols="80"></textarea><br>
                            <input type="submit" value="Submit"><br><br>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2">Advertisement</div>
    </div>
</div>

{% endblock %}