h1,h2{
    padding-left: 5px;
}

/*INDEX PAGE*/
.logo{
    color: #2980B9;
    font-size: 36px;
    padding-left: 5px;
}

/*COMPANY REVIEW PAGE*/
.box-styling{
    border: 1px solid black;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #fcfcfc;
    box-shadow: 0 4px 8px grey;
}

.nav-list-item{
    display: inline;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-ul-item{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.no-decorator{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.less-space{
    width: 5px;
}

/*NEW COMPANY PAGE*/
.rate-area {
  float: left;
  border-style: none;
  list-style-type: none;
  padding: 0px;
}

.rate-area:not(:checked) > input {
  position: absolute;
  top: -9999px;
  clip: rect(0,0,0,0);
}

.rate-area:not(:checked) > label {
  float: right;
  width: 1em;
  /*padding: 0 .1em;*/
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 200%;
  line-height: 1.2;
  color: lightgrey;
  text-shadow: 1px 1px #bbb;
}

.rate-area:not(:checked) > label:before { content: '★'; }

.rate-area > input:checked ~ label {
  color: gold;
  text-shadow: 1px 1px #c60;
  font-size: 200% !important;
}

.rate-area:not(:checked) > label:hover, .rate-area:not(:checked) > label:hover ~ label { color: gold; }

.rate-area > input:checked + label:hover, .rate-area > input:checked + label:hover ~ label, .rate-area > 
input:checked ~ label:hover, .rate-area > input:checked ~ label:hover ~ label, .rate-area > 
label:hover ~ input:checked ~ label {
  color: gold;
  text-shadow: 1px 1px goldenrod;
}

.rate-area > label:active {
  position: relative;
  top: 2px;
  left: 2px;
}

/*REGISTRATION PAGE*/
.center-text{
    text-align: center;
}

#reg-page-container{
    margin-top: 20px;
}

.registration-header{
    padding-left: 0px;
}

.registration-container{
    border: 1px solid black;
    padding-left: 10px;
    border-radius: 4px;
    background-color: #fcfcfc;
    box-shadow: 0 4px 8px grey;
}

#sign-in{

}

#sign-up-marketing{
}

#sign-up-form{
}