h1,h2{
    padding-left: 5px;
}

.logo{
    background-color: #2980B9;
    color: white;
    font-size: 36px;
    padding-left: 5px;
}

.registration-header{
    padding-left: 0px;
}

.registration-container{
    border: 1px solid black;
    padding-left: 10px;
    border-radius: 4px;
    background-color: #fcfcfc;
    box-shadow: 0 4px 8px grey;
}

#reg-page-container{
    margin-top: 20px;
}
#sign-in{

}

#sign-up-marketing{
}

#sign-up-form{
}

.center-text{
    text-align: center;
}